%h1 Listing clinics
= link_to 'New Clinic', new_clinic_path
%br
%br
%table
  %tr
    %th Practice Id
    %th Name
    %th
    %th
    %th

  - @clinics.each do |clinic|
    %tr
      %td= clinic.practice_id
      %td= clinic.name
      %td= clinic.province
      %td.table-link= link_to 'Edit', edit_clinic_path(clinic)
      %td.table-link= link_to 'Distribution List', clinic_distribution_contacts_path(clinic)
      %td.hidden= link_to 'Destroy', clinic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clinic', new_clinic_path
