%h1 Listing configs
= link_to 'New Config', new_config_path
%br
%br
%table
  %tr
    %th Practice Id
    %th Name
    %th
    %th
    %th

  - @config.each do |config|
    %tr
      %td= config.name
      %td= config.value
      %td= link_to 'Edit', edit_config_path(config)
      %td.hidden= link_to 'Destroy', config, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Config', new_config_path
