%h1 Listing surveys

%table
  %tr
    %th Run
    %th Count
    %th Month
    %th Status
    %th
    %th
    %th

  - @surveys.each do |survey|
    %tr
      %td= survey.run
      %td= survey.count
      %td= survey.month
      %td= survey.status
      %td= link_to 'Show', survey
      %td= link_to 'Edit', edit_survey_path(survey)
      %td= link_to 'Destroy', survey, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Survey', new_survey_path
