%p#notice= notice

%p
  %b Name:
  = @run.name
%p
  %b Month:
  = @run.month
%p
  %b Year:
  = @run.year
%p
  %b Quarter:
  = @run.quarter
%p
  %b Fiscal Year:
  = @run.fiscal_year
%p
  %b Month Run:
  = @run.month_name
%p
  %b Start Date:
  = @run.start_date
%p
  %b End Date:
  = @run.end_date

= link_to 'Edit', edit_run_path(@run)
\|
= link_to 'Back', runs_path
